#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(27, 203, 197);
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
ul {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}

.Jacksonville {
  height: 20rem;
  margin-bottom: 10rem;
}

.cities-img {
  height: 100%;
  width: 40%;
  object-fit: cover;
}

.cities-desc-container {
  text-align: left;
  width: 50%;
  margin-left: 40rem;
  margin-top: -20rem;
}

.cities-desc-container header {
  margin-right: 20rem;
  font-size: 2rem;
}

.cities-desc {
  font-size: 1.5rem;
}

.Miami {
  height: 20rem;
  margin-bottom: 10rem;
}

.Orlando {
  height: 20rem;
  margin-bottom: 10rem;
}
.Walt-Disney-World {
  height: 20rem;
  margin-bottom: 10rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;
  grid-template-rows: 30rem;
  margin-bottom: 10px;
}

.grid-text {
  padding: 10px;
  margin-bottom: 5rem;
}

.attractions-title {
  text-align: left;
  font-size: 32px;
  font-weight: normal;
}

.Attractions-desc {
  font-size: 24px;
}

.grid-image {
  padding: 5px;
  text-align: center;
  margin-bottom: 50px;
}

.attractions-img {
  height: auto;
  width: 75%;
  margin-top: 5rem;
}

.restaurant-title {
  text-align: left;
  font-size: 32px;
  font-weight: normal;
}

.restaurants-desc {
  font-size: 24px;
}

.restaurants-img {
  height: auto;
  width: 75%;
}

.backgroundimg {
width: 1980px;
height: 1080px;
object-fit: cover;
}

.backgroundcontent {
  position: absolute;
  top: 40%;
  left: 50%;
}

.backgroundcontent h1 {
  color: white;
  font-size: 8rem;
}

.footer {
  height: 10rem;
  background-color: rgb(27, 203, 197);
}
body {
  background: linear-gradient(141deg,#0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.section-title {
  font-size: 32px;
}